{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock %}

{% block body %}
  <div class="heading">
    <h1>TASKS MANAGEMENT</h1>
    <nav>
      <ol>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact us</a>
      </ol>
    </nav>
    </div>


    <form action="/" method="POST">
        <input type="content" name="content" id="content" placeholder="Add a task">
        <input type="submit" value="Add task"> 
    </form>
    {% if tasks|length < 1 %}
    <h3>There is no tasks! Please add one above</h3>
    {% else %}

    <table>
        <tr class="table_head">
            <th>CONTENTS</th>
            <th>DATE CREATED</th>
            <th>ACTIONS</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.Date_Created }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
 {% endblock %}